body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  position: fixed;
  z-index: 20;
  /* background: gray; */
}
header a {
  text-decoration: none;
  color: white
}
header a:hover {
  color: rgb(190, 109, 55);
}

#root {
  background: black;
}

.image {
  height: 600px;
  opacity: .6;
}

.mess {
  position: relative;
  top: -130px;
  right: -750px;
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}

.mess img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  color: rgb(123, 85, 59);
  margin-bottom: 0px !important;
}

.box {
  margin: 0 auto;
  width: 80%;
  height: 1000px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* background: wheat; */
}

.minibox {
  overflow: hidden;
  border-radius: 20px;
}
.minibox img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: grayscale(100%);
  transition: 1s ease-out;
  cursor: pointer;
}
.minibox img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: rgb(123, 85, 59);
  font-weight: 700;
}
h2 {
  color: rgb(123, 85, 59);
}
.maps {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  border-radius: 20px;
  overflow: hidden;
  opacity: .6;
}

.forms_map {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  /* display: flex; */
  color: rgb(123, 85, 59);
}
.form h3 {
  text-align: center;
  margin: 20px;
}
.form h4 {
  width: 200px;
  text-align: left;
}
.form label {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input {
  outline: none;
  border-radius: 30px;
  padding: 5px 20px;
  content: '';
  opacity: .6;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  opacity: .6;
}
.btn button {
  color: rgb(123, 85, 59);
  font-weight: 700;
  font-size: 15px;
  padding: 10px 55px;
  border-radius: 35px;
  transition: 1.2s ease-out;
}
.btn button:hover {
  transform: scale(1.1);
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(123, 85, 59, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  height: 400px;
  width: 80%;
  transform: scale(0.4);
  transition: .5s all;
}
.modal__content.active {
  transform: scale(1);
}

::-webkit-scrollbar-button {
  width:6px;
  height:0px;
}
::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}
::-webkit-scrollbar-thumb {
  border: 1px solid rgb(123, 85, 59);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 11px;
}

